[submodule "checkito"]
	path = checkito
	url = ./checkito
[submodule "armoire"]
	path = armoire
	url = ./armoire
[submodule "elude"]
	path = elude
	url = ./elude
[submodule "multex"]
	path = multex
	url = ./multex
[submodule "orn"]
	path = orn
	url = ./orn
[submodule "scalp"]
	path = scalp
	url = ./scalp
[submodule "that_bass"]
	path = that_bass
	url = ./that_bass
[submodule "entia"]
	path = entia
	url = ./entia
