name: publish

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ github.token }}
            - uses: docker/build-push-action@v5
              with:
                  context: .devcontainer
                  push: true
                  tags: ghcr.io/magicolo/rust:latest
